/* flex helpers */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* grid helpers */
.grid {
    display: grid;
}

.grid-column {
    grid-auto-flow: column;
}

/* alignment helpers */
.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* list helpers */
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}