.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--clr-primary-bg-1);
    box-shadow: inset 0px -6px 0px var(--clr-primary-outline--1);
    color: var(--clr-primary--1);
    padding-inline-start: .5rem;
}