.main-form {
    font-size: .8em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    place-self: center;
    place-items: center stretch;
    
    background-color: var(--clr-primary-bg-1);
    color: var(--clr-primary--1);

    padding: 1em;
    border: 1px solid var(--clr-primary-outline);
    border-radius: .5em;

}

.main-form>:first-child {
    grid-column: 1/ -1;
}

.main-form>* {
    padding: .5em 1em;
    border: 1px solid var(--clr-primary-outline);
    border-radius: .5em;
}

.main-form>:not(label) {
    place-self: center;
}

.main-form>input {
    font-size: 1em;
}

.main-form>:last-child {
    grid-column: 1 / -1;
    border-radius: .5em;

    font-family: Eurofurence, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.05em;
}