.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--clr-bg-1);
    box-shadow: inset 0px -6px 0px var(--clr-outline--1);
    padding-inline-start: .5rem;
}

.main-nav ul>li {
    border-inline-end: 1.5px solid var(--clr-outline--1);
}

.main-nav ul>li:first-child {
    border-inline-start: 1.5px solid var(--clr-outline--1);
}

.main-nav a {
    display: grid;
    place-items: center;

    min-height: 4rem;
    min-width: 6rem;

    font-family: Lato-Bold, sans-serif;
    letter-spacing: 0.0625rem;

    transition: box-shadow .4s;
}

.main-nav a.active {
    cursor: default;
    pointer-events: none;
    /* Stops mouse clicks and touch events */

    color: var(--clr-outline-1);
    box-shadow: inset 0px -6px 0 var(--clr-outline-1);
}

.main-nav a:hover {
    box-shadow: inset 0px -6px 0 var(--clr-outline-1);
}