.main-content {
    display: grid;
    
    background-color: var(--clr-primary-bg);
    min-height: calc(100vh - 4rem);
}

.main-teaser-text {
    text-align: center;
    place-self: center;
    background-color: var(--clr-primary-bg--1);
    padding: .5em 1em;
    border-radius: .5em;
}