.places-list>ul {
    display: grid;
    background-color: var(--clr-primary-bg-1);
    color: var(--clr-primary--1);

    border-radius: 1em;
    margin: 1em;
}

.places-list>ul>li {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    place-items: center;
    gap: 15px;
    
    padding: 10px;
    border-block-end: 2px solid var(--clr-primary-outline--2);
}

.places-list .btn {
    padding: .2em .8em;
}