.settings-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(2rem, auto);
    gap: 15px;
    place-self: center;

    background-color: var(--clr-bg-1);

    padding: 1em;
    border: 1px solid var(--clr-outline);
    border-radius: .5em;
    margin: .5em;
}

.settings-form .form-header {
    grid-column: 1 / -1;

    text-align: center;

    padding-inline: 1em;
    border-block-end: 2px solid var(--clr-outline--2);
}

.settings-form .age-container {
    place-self: center;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    place-items: center
}

.settings-form input[type=color] {
    place-self: center;
    height: 90%;
    width: 50%;
    background-color: transparent;
    font-size: .2em;
}

.settings-form .init-loc-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.settings-form .btns-container {
    grid-column: 1 / -1;
    display: grid;
    grid-auto-flow: column;
    gap: 40px;

    padding: 1em 1em 0;
    border-block-start: 2px solid var(--clr-outline--2);
}