/* MOBILE ONLY */
@media(max-width: 600px) {

    /* mobile header start */

    .main-header {
        min-height: 4rem;
        padding-inline: 1em;
    }

    .main-nav {
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        z-index: 1;

        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows .6s;
        align-content: end;
        align-items: end;
        overflow: hidden;

        background: var(--clr-bg-2);
    }

    body.menu-open .main-nav {
        grid-template-rows: 1fr;
    }

    .main-nav>ul {
        grid-auto-flow: row;
        overflow: hidden;
    }

    .main-nav a {
        border-bottom: 1px solid var(--clr-outline--2);
    }

    .main-nav a:hover,
    .main-nav a.active {
        border-bottom: 0;
    }

    /* mobile header end */

    .settings-form {
        grid-template-columns: 1fr;
    }

    .main-content {
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
    }
}

/* Tablet / Laptop / Desktop */
@media (width > 600px) {
    .main-content {
        grid-template-columns: 2.5fr minmax(350px, 1fr);
    }

    .btn-toggle-menu {
        display: none;
    }
}

/* Max width */
@media (min-width: 1500px) {
    body {
        display: grid;
        place-content: center;
        grid-template-columns: minmax(auto, 1500px);
    }
}