/* palette */

:root {
    --clr-primary--1: #ffffff;
    --clr-primary-base: #866bff;

    --clr-primary-bg--1: #ffffff99;
    --clr-primary-bg: #506fad4d;
    --clr-primary-bg-1: #292929;
    --clr-primary-bg-2: #000000;

    --clr-primary-outline--2: #e1e0e0;
    --clr-primary-outline--1: #fcb2ff;
    --clr-primary-outline: #fa74fa;
    --clr-primary-outline-1: #543ac9;

    --clr-modal-bg: #e4f2f8;
}